:root {
    --background-color: rgb(31, 31, 31);
    --text-color: white;
    --header-height: 60px;
    --footer-height: 20px;
    --secondary-background-color: #333333;
    --hover-color: rgb(21, 21, 21);
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    padding: 8px;
}

i.pi {
    cursor: pointer;
    font-size: 18px;
}