.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: var(--background-color);
    color: var(--primary-text-color);
}

.header-actions {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

.header i.pi {
    font-size: 1.5rem;
    cursor: pointer;
}

.p-drawer.p-component.sidebar {
    background: var(--background-color) !important;
    padding: 16px;
}

.sidebar-container {
    display: flex;
    flex-direction: column;
    min-height: calc(100dvh - 60px);
    position: relative;
}

.user-settings {
    position: fixed;
    bottom: 16px;
    padding: 12px;
    width: 260px;
    background-color: var(--background-color);
}

.history-item {
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 8px;
    cursor: pointer;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
}

.chat-history-container .p-accordionheader,
.chat-history-container .p-accordioncontent-content {
    background: var(--background-color) !important;
}

.history-item:hover {
    background-color: var(--secondary-background-color) !important;
}

.chat-history-container .p-accordioncontent-content {
    overflow: scroll;
    margin-bottom: 32px;
}

.sidebar .p-drawer-header {
    font-size: x-large;
    font-weight: bold;
}