.suggestion-container {
    display: flex;
    gap: 16px;
    margin-top: 16px;
}

.suggestion-card {
    width: 256px;
    height: 60px;
    border-radius: var(--border-radius);
    background-color: var(--card-bg);
    color: var(--primary-text-color);
    display: flex;
    flex-direction: column;
    padding: 8px;
    justify-content: center;
    align-items: center;
    border: 0.5px solid var(--shadow-color);
    box-shadow: 0 1px 6px 0 var(--shadow-color);
}
.suggestion-card:hover {
    background: var(--card-hover-bg);
    color: var(--secondary-text-color);
}

@media screen and (max-width: 880px) {
    .suggestion-container {
        flex-wrap: wrap;
        justify-content: center;
    }
    .suggestion-card {
        width: 90vw;
    }
}